$font-family-monospace: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
$font-family-sans-serif: Montserrat, "Noto Sans JP", Helvetica, sans-serif;

$color-link: #28f !default;
$color-text: #535363 !default;
$color-heading: #444 !default;

$color-background: #fff !default;
$color-background-offset: #f6f6f6 !default;

$color-ui-hover: rgba($color-text, 0.05) !default;
$color-ui-active: rgba($color-text, 0.075) !default;

$color-header-background: #14f !default;
$color-header-content: #fff !default;

$color-frame-border: rgba($color-text, 0.25) !default;

$color-sidebar-heading: rgba($color-text, 0.75) !default;

$highlight-theme: 'github' !default;
