.Header {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    background-color: $color-header-background;
    border-bottom: solid 1px $color-frame-border;
    text-overflow: ellipsis;
    color: $color-header-content;
}

.Header-title {
    @include link-default(inherit, none);
    // flex: 1;
    padding: .75rem 1.8rem;
    font-size: 16px;
    white-space: nowrap;

    $border-offset: 18px;
    box-shadow:
        // ( $border-offset + 1px) 0 0 (-$border-offset) rgba($color-header-content, 1)
        // ,
        (-$border-offset - 1px) 0 0 (-$border-offset) rgba($color-header-content, 1)
    ;

    img {
        margin-right: .75em;
        width: 16px;
        vertical-align: middle;
    }
    strong {
        display: inline-block;
        vertical-align: middle;
        font-weight: inherit;
        word-spacing: .15em;
    }
}

.Header-button {
    margin: 0 .4rem;
    border: 0;
    padding: 20px;

    touch-action: manipulation;
    color: inherit;
    cursor: pointer;

    transition: .15s ease-out;

    &:hover  { opacity: .75 }
    &:active { opacity: .5 }
}

.Header-navToggle {
    svg {
        display: none;
        margin: 0 auto;
        width: 19px;
        height: 19px;
        fill: $color-header-content;
    }
}

.Frame {
    .Header-navToggleIcon--open {
        display: block;
    }
}

.Frame.is-closed {
    .Header-navToggleIcon--open {
        display: none;
    }
    .Header-navToggleIcon--closed {
        display: block;
    }
}
