.Status,
.Status-dots {
    display: flex;
    align-items: center;
}

.Status-dot {
    $size: 8px;
    width:  $size;
    height: $size;
    // border: solid 1px rgba($color-text, .2);
    border-radius: 100%;
}

.Status-dot + .Status-dot {
    @include margin-inline(start, 3px);
}

.Status-label {
    @include font(label);
    display: inline-block;
    border-radius: 2rem;
    padding: .125rem .75rem;
    color: #fff;
    white-space: nowrap;
}

.Status-label + .Status-label {
    @include margin-inline(start, .25rem);
}

.Status--labelled {
    .Status-label {
        @include margin-inline(end, .75rem);
    }
}

.Status-ready { background-color: $color-status-ready }
.Status-wip   { background-color: $color-status-wip   }
.Status-prototype,
.Status-draft { background-color: $color-status-draft }
